<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>
        <script>
            function expand_image(img) {
                if (img.style.width != "100%")
                    img.style.width = "100%";
                else
                    img.style.width = "250px";
            }
        </script>
        <style>
            body {
                background-color: #383838;
                display: flex;
                justify-content: center;
            }
            a {
                color: #4488bb
            }
            subject {
                font-size: 16px;
            }
            div.postContainer {
                max-width: 1000px;
                background-color: #282828;
                border: 1px solid #686868!important;
                padding: 5px;
                color: #D6DAF0;
                border-radius: 10px;
                display: block;
                font-size: 15px;
            }
        </style>
    </head>
    <body>
        {{range .Posts}}
            <div class="postContainer">
                <div class="postDetails"> 
                    <span class="nameBlock">
                        <span class="name">{{ .Name }}</span>
                        <br>
                        <span class="subject">{{ .Sub }}</span>
                    </span>
                    <br>
                    <span>
                        {{ .Now }}
                        <a href="#p{{ .No }}" title="Link to this post">
                            No. {{ .No }}
                        </a>
                    </span>
                </div>
                <div class="file">
                    <div class="fileText">
                        File: 
                        <a title="{{ .Filename }}{{ .Ext }}" href="./media/{{ .Filename }}{{ .Ext }}" target="_blank">
                            {{ .Filename }}{{ .Ext }}
                        </a> 
                        ({{ .Size }}, {{ .W }}x{{ .H }})
                    </div>
                    <img src="./media/{{ .Filename }}{{ .Ext }}" alt="{{ .Size }}" data-md5="{{ .Md5 }}" style="width: 250px;" loading="lazy" onclick="expand_image(this)">
                </div>
                <blockquote>{{ .Com }}</blockquote>
            </div>
        {{end}}
    </body>
</html>

